*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
}
/*logo:*/
.logomain{
    margin-top: 8px;
    max-width: 15%;
    max-height: 20%;
    height: 25px;
    width: 15px;
    border-radius: 25%;
}
/*body:*/
body{
    background-image: url("tou3.jpg");
    background-size: cover ;
    background-color:rgb(0, 0, 0) ;
    background-repeat: no-repeat;

}
/*nav bar:*/
nav{
    overflow: hidden;
    border: 535px;
    width: 100%;
    height: 65px;
    line-height: 85px;
    padding: 0px 150px;
    position: fixed;
    position: absolute;
    background-image: linear-gradient(rgb(0,0,0), rgb(0,0,0));
    text-align: center;
    cursor: pointer;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
nav ul{
    float: none;
}
nav li{
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 30px;
}
nav li a{
    font-family:lucida, Handwriting,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 12.5;
    font-weight: bolder;
    border-radius: 10px;
    text-decoration: none;/*to remove the blue off the link+the underline*/
    color:rgb(100,114,165)
}
/*nav hover animation*/
nav.animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1) {
    width: 100px;
}
a:nth-child(2) { 
    width: 110px;
}
 a:nth-child(3) {
width: 100px;
 }
a:nth-child(4) { 
    width:160px;
}
a:nth-child(5) { 
    width: 120px;
}
a:nth-child(6) { 
    width: 120px;
}
nav start-home, a:nth-child(1):hover,animation {
    width: 100px;
    left: 0;
     background-color: #1abc9c;
    }
    nav start-categories, a:nth-child(2):hover.animation {
    width: 110px;
    left: 100px;
    background-color: #1abc9c;
    }
    nav.start-threats, a:nth-child(3):hover.animation {
        width: 100px; 
        left: 210px;
        background-color: #1abc9c;
    }
    nav.start-purchdon, a:nth-child(4):hover.animation {
        width: 160px;
        left: 310px;
        background-color: #1abc9c;
    }
    nav.start-hik, a:nth-child(5):hover.animation {
        width: 120px; 
        left: 470px;
        background-color: #1abc9c;
    }
    nav.start-other, a:nth-child(6):hover.animation {
        width: 120px; 
        left: 470px;
        background-color: #1abc9c;
    }
  
  /*end of nav*/

















  /* options to purchase*/
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .product {
    width: 300px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .product img {
    width: 200px;
    height: auto;
  }
  
  .product h2 {
    margin-top: 10px;
  }
  
  .product p {
    margin-top: 5px;
  }
  
  .btn {
    display: inline-block;
    background-color: #0c1050;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
  }
  /*end of options to purchase*/
  /*forms begin*/
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent;
  }
  
  .form-wrapper {
    display: flex;
  }
  
  .form {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4%;
  }
  
  .purchase-form {
    margin-right: 10%;
  }
  
  .donate-form {
    margin-left: 10%;
  }
  /*  styles to change the text color */
.form label,
.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="submit"] {
  color: #333; 
}

  /* card payment forms:*/

h1 {
    text-align: center;
    color: #e67e22;
    background-color: black;
  }
h2 {
    margin-top: 30px;
    color: #e67e22;
    background-color: black;
  }
.form-group {
    margin-bottom: 20px;
    color: #f2f2f2;
  }
label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #ffffff;
  }
input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
input[type="submit"]:hover {
    background-color: #45a049;
  }
.img3{
    align-content: center;
    margin-left: 570px;
    background-color: transparent;
    width: 40%;
    height: 40%;
}
/*end of forms*/


/*footer at page end;*/
.footer{
    overflow: hidden;
    border: 535px;
    width: 100%;
    height: 65px;
    line-height: 85px;
    padding: 0px 150px;
    position: fixed;
    text-align: center;
    cursor: pointer;
    position: absolute;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    }
  footer li{
      padding: 0px 150px;
  }
  footer li a{
      color: white;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;/*to remove the blue off the link+the underline*/
  }
  footer li a:hover{
      background-color: black;
}














    /* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .footer {
      flex-wrap: wrap;
      padding: 10px;
      height: auto;
      line-height: normal;
    }
    nav {
      padding: 0 20px;
    }
  
    nav li {
      margin: 10px;
    }
  
    nav li a {
      font-size: auto;
    }
  }